# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env
*.egg-info/
dist/
build/

# Base de données locale
# *.db  -- on inclut la base de données pour Render
*.sqlite3

# Node
node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local

# Logs
*.log
/tmp/

# OS
.DS_Store
.idea/
.vscode/

# Render
.render/
